body {


    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;


    overflow-clip-margin: content-box;
    overflow: clip;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}

button {
    background-color: white;
    border-radius: 10px;
    height: 2.4vh;

}

.encendido {

position: absolute;
top: 30px; ;
left: 49%;


}