*{
    margin: 0;
}
@font-face {
    font-family: comicNeuw;
    src: url(comicNeuw.regular.ttf);
}

body {

 font-family:'Courier New', Courier, monospace;   
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.container {
    
 gap: 20px;
 display:flex ;
 flex-direction: column;
 align-items: center;
 justify-content: center;


}

.box {
    width: 160px;
    height: 20px;
    border: 4px solid black;
    animation: loading 3s mode;

}
.box__loading{
    height: 100%;
    width: 200%;
    animation: loading 4s;

}

@keyframes loading {
  0% {
background-color: purple;
width: 0;
  }
100% {
    background-color: rebeccapurple;
width: 160px;
  background-color: aqua;
    
}
}

 p{

 font-size: 1.6em;
 font-weight: bold;
}



button {
    background-color: white;
    border-radius: 10px;
    height: 2.4vh;

}

.encendido {

position: absolute;
top: 30px; ;
left: 49%;


}